body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.container div {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.red {
  background-color: rgb(186, 93, 93);
  border: 2px solid black;
}
.green {
  background-color: rgb(125, 199, 125);
  border: 2px solid black;
}
.blue {
  background-color: rgb(139, 139, 225);
  border: 2px solid black;
}
.yellow {
  background-color: rgb(255, 255, 161);
  border: 2px solid black;
}

.flash {
  background-color: aliceblue;
}
.userflash {
  background-color: rgb(0, 0, 0);
}
